<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeradorCurriculo"
        tools:targetApi="31">

        <!-- Splash Activity -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <!-- Onboarding Activity -->
        <activity
            android:name=".ui.OnboardingActivity"
            android:exported="false"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar"
            android:screenOrientation="portrait" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
        </activity>

        <!-- Create Curriculum Activity -->
        <activity
            android:name=".ui.CriarCurriculoActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- List Curriculum Activity -->
        <activity
            android:name=".ui.ListaCurriculosActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Import Curriculum Activity -->
        <activity
            android:name=".ui.ImportarCurriculoActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Revisar Curriculum Activity -->
        <activity
            android:name=".ui.RevisarCurriculoActivity"
            android:exported="false"
            android:parentActivityName=".ui.ImportarCurriculoActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ImportarCurriculoActivity" />
        </activity>

        <!-- Detalhe Curriculum Activity -->
        <activity
            android:name=".ui.DetalheCurriculoActivity"
            android:exported="false"
            android:parentActivityName=".ui.ListaCurriculosActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ListaCurriculosActivity" />
        </activity>

        <!-- Premium Activity -->
        <activity
            android:name=".ui.PremiumActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- ATS Analysis Activity -->
        <activity
            android:name=".ui.AnaliseAtsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Configuracoes Activity -->
        <activity
            android:name=".ui.ConfiguracoesActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Otimizar Curriculo Activity -->
        <activity
            android:name=".ui.OtimizarCurriculoActivity"
            android:exported="false"
            android:parentActivityName=".ui.DetalheCurriculoActivity"
            android:theme="@style/Theme.GeradorCurriculo.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.DetalheCurriculoActivity" />
        </activity>

        <!-- File Provider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>